.pagination {
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
    align-items: center;
}

.paginationItem {
    display: block;
    margin: 0 3px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
}

.paginationItemActive {
    color: white;
    background-color: #007bff
}