.loadingCircle {
    position: fixed;
    z-index: 1000;
    background-color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingCircle img {
    display: block;
    width: 80px;
    height: 80px;
}