.tableWrapper {
    flex: 1 1 100%;
    margin: 10px 0;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.table th {
    position: relative;
    padding: 8px 8px;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}

.table th span.sortArrow {
    position: absolute;
    top: 8px;
    right: 5px;
}

.table td {
    padding: 6px 6px;
    border: 1px solid black;
    text-align: center;
}